@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

*{

    margin: 0;

}

body{

    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#cccccc)) no-repeat;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    width: auto;
        
}

nav{

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 45px 150px;
    font-size: 15pt;

}

a{

    text-decoration: none;
    color: white;
    padding: 8px;
}

ul{

    list-style: none;
    display: inline-flex;
    
}

li{

    padding: 10px;
    color: white;

}

footer{

    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 640px;
    margin: 0 auto;
    bottom: 0px;

}

img {

    padding: 8px;

}

p{
    align-items: center;
    
}

.flex{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
        
}