@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{

    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#cccccc)) no-repeat;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    
}

#lista-menu{

    list-style: none;
    display: inline-flex;

}

li{

    padding: 10px;
    color: white;

}

a{

    text-decoration: none;
    color: white;
    padding: 8px;
    text-align: ;
}

h2{
    text-align: center;
}


nav{

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 45px 150px;
    font-size: 15pt;

}


footer{

    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 640px;
    margin: 0 auto;
    bottom: 0px;

}

img{
    padding: 0 15px;
}

.scroll{
    display: flex;
    overflow: auto;
    padding: 0 30px;
    max-width: 1400px;
    margin: 0 auto;
}

::-webkit-scrollbar{

    width: 10px;

}

::-webkit-scrollbar-track{

    background: #f1f1f1;

}

::-webkit-scrollbar-thumb{

    background: #888;

}

::-webkit-scrollbar-thumb:hover{

    background: #555;

}